<!DOCTYPE html>
<html ng-app="ips">
  <head>
    <meta charset="utf-8">
    <title>INNER PARTY SYSTEM!!</title>
  </head>
  <body>
    <div ng-controller="AppController as app">
      <button ng-if="!isServerOn" type="button" name="button" ng-click="app.turnOnServer()">Create Party</button>
      <button ng-if="isServerOn" type="button" name="button" ng-click="app.turnOffServer()">Terminate Party</button>
      <button type="button" name="button">Enter Party</button>
      <button type="button" name="button" ng-click="app.checkStatus()">Check Status</button>
    </div>

    <script src="vendor/angular.js"></script>

    <script src="app.js"></script>
    <script src="services/Server.js"></script>
    <script src="controllers/AppController.js"></script>

  </body>
</html>
